---
layout: default
---

<div class="row justify-content-center">
    <div class="col-md-12">
        {% for category in site.categories %}
            {% capture category_name %}{{ category | first }}{% endcapture %}
            {% for post in site.categories[category_name] %}
                <div class="card text-white bg-{{ post.status }} mb-3">
                    <div class="card-header">{{ category_name }}</div>
                </div>
                {% break %}
            {% endfor %}
        {% endfor %}
    </div>
</div>
<br>
<br>
<div class="row justify-content-center">
    <div class="col-md-7">
        <div class="table-responsive">
            <table class="table" id="past-incidents" style="overflow: hidden;">
                <thead>
                    <tr>
                        <td style="border-top: 0px;">
                            <h5>
                                Past Incidents
                                <a href="#past-incidents">
                                    <i class="fas fa-hashtag fa-sm fa-fw"></i>
                                </a>
                            </h5>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {% for post in site.posts %}
                        {% if post.view != false %}
                            {% assign pdate = post.date | date: '%B %d, %Y' %}
                            {% unless post.next %}
                                <tr>
                                    <td>
                                        <h5>{{ pdate }}</h5>
                            {% else %}
                                {% assign date = post.date | date: '%b %d, %Y' %}
                                {% assign ndate = post.next.date | date: '%b %d, %Y' %}
                                {% if date != ndate %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5>{{ pdate }}</h5>
                                {% endif %}
                            {% endunless %}
                            <div class="row">
                                <strong class="col-md-3">
                                    {{ post.title }}
                                </strong>
                                <div class="col-md-9">
                                    {{ post.content }}
                                    <small class="text-muted">
                                        Posted {{ post.date | date: '%B %d, %Y - %H:%M' }} {{ site.zone }}
                                    </small>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-5">
        <!-- data-height="500" -->
        <a class="twitter-timeline" data-link-color="#19CF86" href="https://twitter.com/{{ site.twitter }}?ref_src=twsrc%5Etfw">Tweets by {{ site.twitter }}</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
<br>
<div class="row justify-content-center">
    <div class="col-md-12">
        {% include card_footer.html %}
    </div>
</div>
