
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href=" {{ '/' | absolute_url }}">{{ site.title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#tophackr-navbar" aria-controls="tophackr-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="tophackr-navbar">
            <span class="mr-auto"></span>
            {% for my_page in site.pages %}
                {% if my_page.title and my_page.url != '/history/' %}
                    <span class="nav-item navbar-text">
                        <a href="{{ my_page.url | absolute_url }}" class="nav-link">{{ my_page.title }}</a>
                    </span>
                    <br class="d-lg-none d-xl-none">
                {% endif %}
            {% endfor %}
            <span class="nav-item navbar-text"> 
                <a href="{{ '/feed.xml' | absolute_url }}" class="nav-link"> 
                    <i class="fas fa-rss"></i>
                    <span class="d-lg-none d-xl-none">&nbsp; Subscribe via RSS</span>
                </a>
            </span>
        </div>
    </div>
</nav>
